# CORE APPLICATION
# development | staging | production
NODE_ENV=development
PORT=3000
FRONTEND_URLS=http://localhost:3001,http://localhost:3002
CORS_ORIGIN=*

# DATABASE (Postgres/Supabase)
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# AUTHENTICATION
JWT_SECRET=super_secret_jwt_key_please_change_in_prod
JWT_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=super_secret_refresh_key_please_change_in_prod
REFRESH_TOKEN_EXPIRES_IN=7d

# CACHE
# REDIS_URL=redis://localhost:6379

# OpenRouter
OPENROUTER_API_KEY=please-send-me-a-free-api-key-im-poor